body {
    margin: 0;
    margin-left: 10px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}
.box {
    background-color: yellowgreen;
}
input {
    margin: 5px;
}
.item-price {
    width: 60px; /* Ajuste o tamanho conforme necessário */
  }
button {
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
}
.total {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3 {
    text-align: center;
    margin-bottom: 1px;
}
.totalValue {
    font-weight: bold;
    text-align: center;
}
h4 {
    opacity: 50%;
}
@media (max-width: 768px) {
    .item-price {
      width: 10%;
    }
    .item-quantity {
        width: 40px;
      }
  }