body {
    margin: 0;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}
.box {
    background-color: rgb(233, 44, 44);
    border-radius: 6%;
}
input {
    margin: 5px;
    border-radius: 15%;
}
.item-price {
    width: 60px; /* Ajuste o tamanho conforme necessário */
  }
button {
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
}
button:hover {
    transform: scale(1.05) ;
}
.total {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3 {
    text-align: center;
    margin-bottom: 1px;
}
.totalValue {
    font-weight: bold;
    text-align: center;
}
.totalGastarContainer {
    display: flex;
    justify-content: center;
}
.totalGastar {
    font-weight: bold;
    text-align: center;
    text-align: center;
}
h4 {
    opacity: 50%;
    color: white;
}
.item-quantity {
    width: 65px;
}
li {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
}
.no-list-marker {
    list-style-type: none;
    text-align: left;
  }
@media (max-width: 768px) {
    .item-price {
      width: 15%;
    }
    .item-quantity {
        width: 45px;
      }
  }
  #myCanvas {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Define a sobreposição para trás */
  }