body {
    margin: 0;
    margin-left: 10px;
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1432958576632-8a39f6b97dc7?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY5MjA0MTYzMA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}
.title {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px white;
    background-color: #d1d1d1;
    width: 275px;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
}
.box {
    background-color: #d1d1d1;
    border-radius: 6%;
    padding: 10px;
}
.box-topo {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}
.item-price {
    width: 60px;
  }
button {
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #003329;
    color: white;
}
button:hover {
    transform: scale(1.05) ;
}
.total {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3 {
    text-align: center;
    margin-bottom: 1px;
}
.totalValue {
    font-weight: bold;
    text-align: center;
}
.totalGastarContainer {
    display: flex;
    justify-content: center;
}
.totalGastar {
    font-weight: bold;
    text-align: center;
    text-align: center;
}
h4 {
    opacity: 50%;
    color: white;
}
.item-quantity {
    width: 65px;
}
.item-List {
    padding: 0;
    margin-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003329;
    font-size: 20px;
    background-color: #f2f2f2;
    font-weight: bold;
    margin-top: 5px;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-transform: capitalize;
    padding: 3px;
}
.item-trash{
    height: 20px;
    cursor: pointer;
}
.no-list-marker {
    list-style-type: none;
    text-align: left;
  }
@media (max-width: 768px) {
    .item-price {
      width: 15%;
    }
    .item-quantity {
        width: 45px;
      }
  }